{{define "footer"}}

<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
      <footer class="py-5 bg-primary text-white">
        <div class="footer-top">
          <div class="container footer-social text-center">
            <p>© 2025 X (<a class="text-white" href="https://github.com/xilepeng/gomall">Source
                Code</a>)</p>
          </div>
        </div>
      </footer>
</body>

</html>

{{end}}